header{
    background-color: red;
}
.logo{
    border-radius: 100%;
}

.btn-login{
    background-color: red;
}

.btn-cart{
    background-color: red;
}

.frete{
    margin-left: 10px;
}

.store{
    margin-left: 20px;
}

.container-red{
    background-color: red;
    width: 100%;
}

.footer-p{
    font-size: 12px;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.p-footer{
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 10px;
}

.img-card{
    margin-left: 10px;
    margin-bottom: 15px;
}

.img-redes{
    margin-left: 10px;
    margin-bottom: 15px;
}

.col{
    text-align: center;
}

.product-detail-container {
    max-width: 900px;
}

.btn-add-item {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.btn-pedido {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}